<div class="section-container auto" data-section>
  <section class="section">
    
    <div class="content" data-slug="panel1">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Ops! Corrija os erros abaixo para que possamos mandar as informações para seu email.</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<div class="row collapse">  
	<div class="large-2 columns">
    <%= f.label :name , class: "inline" %>
    </div>
	<div class="large-10 columns">
    <%= f.text_field :name %>
    </div>
    </div>
  </div>
  <div class="field">
  	<div class="row collapse">  
  	<div class="large-2 columns">
    <%= f.label :email , class: "inline" %>
    </div>
	<div class="large-10 columns">
    <%= f.text_field :email %>
    </div>
    </div>
  </div>
  <div class="field">
    <div class="row collapse">  
    <div class="large-2 columns">
    <%= f.label :phone, class: "inline" %>
    </div>
	<div class="large-10 columns">
    <%= f.text_field :phone %>
  	</div>
    </div>
 </div>
  <div class="actions">
    <%= f.submit :name =>'but' , :class => 'radius button' %>
  </div>
<% end %>



      
    </div>
  </section>