<!-- Header Content -->
 
        <div class="row">
 
          <div class="large-6 columns">
 
              <%= image_tag "carol_mattos.jpg" %>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Carol Mattos<hr/></h3>
 
            <div class="panel">
              <h4 class="hide-for-small">Carol Mattos - (21) 2222-2222 - Barra da Tijuca<hr/></h4>
            <h5 class="subheader">Atendimento completo e sem frescura, atendo a homens e casais. Sou carinhosa, meiga e atenciosa. Tenho olhos verdes naturais e possuo priv&ecirc; luxuoso em frente a praia na Barra da Tijuca. Nuca anunciada. Confira o melhor atendimento da Barra.
</h5>
            </div>
 
          <div class="row">
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
 
              <div class="large-6 small-6 columns">
                <div class="panel">
                  <h5>Header</h5>
                <h6 class="subheader">Praesent placerat dui tincidunt elit suscipit sed.</h6>
                <a href="#" class="small button">BUTTON TIME!</a>
                </div>
              </div>
          </div>
 
          </div>
 
        </div>
 
      <!-- End Header Content -->
 
 
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 

 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
              <%= image_tag "carol_mattos_2.jpg" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
              <%= image_tag "carol_mattos_3.jpg" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
              <%= image_tag "carol_mattos_4.jpg" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
              <%= image_tag "carol_mattos.jpg" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->
