<div class="row">
    <div class="large-12 columns">
 
   
 
 
      <!-- Header Content -->
	  <div class="row">
	    <div class="large-12 columns">
	    <div class="orbit-stack-on-small">
			<ul style="width: 600%; height: 388px; margin-left: -400%;" class="orbit-slides-container" data-orbit="">
		  	<li style="width: 16.6667%;" data-orbit-slide=""><%= image_tag "banner-landing-1.jpg" %></li>
	      	<li class="" style="width: 16.6667%;"><%= image_tag "banner-landing-2.jpg" %></li>
	      	<li style="width: 16.6667%;" data-orbit-slide=""><%= image_tag "banner-landing-3.jpg" %></li>
	  		</ul>
		</div>
       
 
      <!-- End Header Content -->
 
 
    
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "vanessa_prado.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "tania_alves.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "anuncie.png" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "anuncie.png" %>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "reynalda.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "rebeca.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "raquel_shell.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "paty.jpg" %>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
			  
              <%= image_tag "juju-bocca.jpg" %>
	      </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "marcela_splash.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "naty_girl.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "juju-bocca.jpg" %>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->
	  
	  
      <div class="row">

        <div class="large-12 columns">
        


        <div class="large-3 small-6 columns">
			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "juju-bocca.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>              
        </div>

        <div class="large-3 small-6 columns">
		  
			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "Ashley_2_big2.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>          </div>

        <div class="large-3 small-6 columns">

			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "juju-bocca.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>      
        </div>

        <div class="large-3 small-6 columns">

			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "Ashley_2_big2.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>
        </div>
      </div>
      </div>
	  
      <!-- 3d Content -->
	  
	  
      <div class="row">

        <div class="large-12 columns">
        


        <div class="large-3 small-6 columns">
			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "Ashley_2_big2.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>              
        </div>

        <div class="large-3 small-6 columns">
		  
			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "juju-bocca.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>          </div>

        <div class="large-3 small-6 columns">

			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "Ashley_2_big2.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>      
        </div>

        <div class="large-3 small-6 columns">

			<div class="card">
				<div class="container">
					<div class="front">
		                <%= image_tag "sabrina-4
						.jpg" %>
					</div>

					<div class="back">
						<h5>This is a card.</h5>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
						<p>This card shows some content on the front and some on the back, and can be flipped by hovering on a desktop, or by swiping across on a touch device.</p>
						<p>The back of the card is intentionally long, so that we can show both an example where the card is constrained to a square and where it is as long as the content on either side requires.</p>
					</div>
				</div>
			</div>
        </div>
      </div>
      </div>
	  