<div class="row">
    <div class="large-12 columns">
 
   
 
 
      <!-- Header Content -->
	  <div class="row">
	    <div class="large-12 columns">
	    <div class="orbit-stack-on-small">
			<ul style="width: 600%; height: 388px; margin-left: -400%;" class="orbit-slides-container hide-for-small" data-orbit="">
		  	<li style="width: 16.6667%;" data-orbit-slide=""><%= image_tag "banner-landing-1.jpg" %></li>
	      	<li class="" style="width: 16.6667%;"><%= image_tag "banner-landing-2.jpg" %></li>
	      	<li style="width: 16.6667%;" data-orbit-slide=""><%= image_tag "banner-landing-3.jpg" %></li>
	  		</ul>
		</div>
       
 
      <!-- End Header Content -->
 
 
    
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "vanessa_prado.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "tania_alves.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  <%= link_to image_tag("anuncie.png", :border=>0), 'como-anunciar'%>
             
          </div>
 
          <div class="large-3 small-6 columns">
             <%= link_to image_tag("anuncie.png", :border=>0), 'como-anunciar'%>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "reynalda.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "rebeca.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "raquel_shell.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "paty.jpg" %>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
			  
              <%= image_tag "renata_siqueira.jpg" %>
	      </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "marcela_splash.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "naty_girl.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "penelope_charmosa.jpg" %>
          </div>
 
        </div>
 
      
      </div>
      </div>
	  