<div class="row">
    <div class="large-12 columns">
 
   
 
 
      <!-- Header Content -->
 
       
 
      <!-- End Header Content -->
 
 
    
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "vanessa_prado.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "tania_alves.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "sandra-joz.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "roberta_sa.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "reynalda.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "rebeca.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "raquel_shell.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "paty.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "penelope_charmosa.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "marcela_splash.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "naty_girl.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "juju-bocca.png" %>
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->