<div class="row">
    <div class="large-12 columns">
 
   
 
 
      <!-- Header Content -->
 
       
 
      <!-- End Header Content -->
 
 
    
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
		      <div class="large-12 columns">
		      <div id="slider">
		      	<img src="http://placehold.it/1000x400&text=[ img 1 ]" />
		      </div>
    
		      <hr />
		      </div>
			  
          <div class="large-3 small-6 columns">
             <%= image_tag "vanessa_prado.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "tania_alves.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "anuncie.png" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "anuncie.png" %>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "reynalda.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "rebeca.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "raquel_shell.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "paty.jpg" %>
          </div>
 
        </div>
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          
        </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "penelope_charmosa.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
			  
			  <%= image_tag "marcela_splash.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "naty_girl.jpg" %>
          </div>
 
          <div class="large-3 small-6 columns">
             <%= image_tag "juju-bocca.jpg" %>
          </div>
 
        </div>
 
      <!-- End Thumbnails -->